@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {
    /*text color*/
    --primary-color: #e60000;
    --secondary-color: #f49390;
    --tertiary-color: #20364b;
    --light-color: #ccc;
    --white-color: #fff;
    --black-color: #000;
    --box-shadow: 0.1rem -0.07rem 1.5rem 0.3rem rgb(0 0 0 / 30%); 

    /*font*/
    --primary-font: 'Mukta', sans-serif;
    --secondary-font: 'Noto Serif', serif;
}

body,
html {
    font-size: 10px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    overflow-x: hidden;
    line-height: 1.5;
}
h1 {
    color: var(--black-color);
    font-size: 5.5rem;
    font-weight: 800;
    font-family: var(--secondary-font);
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 2rem;

}
h2 {
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--secondary-font);
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 2rem;
    margin-top: 0rem;  
}
h2 span {
    color: var(--white-color);
}
h3 {
    color: var(--black-color);
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--secondary-font);
    line-height: 1.4;
    margin-bottom: 1rem;  
}
h4 {
    color: var(--black-color);
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--secondary-font);
    line-height: 1;
    margin-bottom: 1rem;  
}
h5 {
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 300;
    font-family: var(--secondary-font);
    line-height: 1;
    margin-bottom: 0.9375rem; 
    text-transform: uppercase; 
}
p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-top: 1rem;
    color: var(--black-color);
}
a,
a:active,
a:focus,
a:hover,
.btn:focus{
    text-decoration: none;
    box-shadow: none;
    outline: 0;
}
.bg-black{
    background-color: var(--light-color);
}
.bg-red{
    background-color: var(--tertiary-color);
}
.text-white{
    color: var(--white-color);
}
.main-btn{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 5rem;
    padding: 0.9rem 3rem;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 2rem;
    margin-top: 1.5rem;
    transition: all .3s linear;
    box-shadow: 0 0.063rem 0.4rem rgba(0 0 0 0.3);
}
.main-btn:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.view-link{
    font-size: 1.4rem;
    margin-top: 1rem;
    color: var(--black-color);
    transition: all 0.3s ease-in-out;
}
.view-link:hover{
    color: var(--white-color);
    font-size: 2rem;
}
.wrapper{
    padding: 7rem 0;
}


/*navbar*/
.header{
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
}
.header .navbar-brand img{
    width: 20rem;
    height: auto;
    object-fit: cover;
}
.header .navbar-nav .nav-link{
    color: var(--primary-color);
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 2rem;
    margin: 0 0.2rem;
}
.header .dropdown-menu{
    min-width: 13rem;
    padding: 1.5rem 0;
    background-color: var(--white-color);

}
.header .dropdown-item{
    line-height: 1;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--primary-color);
    font-weight: 600;
    font-weight: var(--secondary-font);
}
.header .nav-item:hover>.dropdown-toggle::after,
.header .nav-link.dropdown-toggle.show{
    color: var(--white-color);
}
.header .dropdown-item:focus,
.header .dropdown-item:hover,
.header .navbar-nav .nav-link:hover{
    color: var(--white-color);
    background-color: var(--secondary-color);
}
.header .navbar-nav li:hover>ul.dropdown-menu{
    display: block;
}
.header .navbar-toggler{
    color: var(--primary-color);
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}
.header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.hover-line::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--white-color);
    transition: width .3;
}
.hover-line:hover::after{
    width: 100%;
    transition: width .3s;
}

/*banner*/
.banner-wrapper{
    margin-top: 8rem;
    background-image: url('../images/banner/bannerbg.png');
    background-color: var(--white-color);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 5rem;
}


/*parallax*/
.parallax{
    position: relative;
    background-position: left;
    background-size: 48%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.parallax-1{
    position: relative;
    background-position: right;
    background-size: 48%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.parallax-main{
    position: relative;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.parallax.img1{
    background-image: url('../images/banner/banner2.png');
    height: 100%;
}
.parallax.img2{
    background-image: url('../images/homepage/web.png');
    height: 608px;
}
.parallax.img3{
    background-image: url('../images/homepage/uiux.png');
    height: 608px;
}
.parallax.img4{
    background-image: url('../images/homepage/branding.png');
    height: 608px;
}
.parallax.img5{
    background-image: url('../images/homepage/logo.png');
    height: 608px;
}


/*about*/
.main-wrapper{
    margin-top: 80vh;
    background-color: var(--white-color);
    width: 100%;
}
.main-wrapper .red-card{
    position: absolute;
    top: 25%;
    left: -400px;
    width: calc(100% - 20%);
    box-shadow: var(--box-shadow);
    background-color: var(--tertiary-color);
    padding: 2.5rem;
    border-radius: 2.5rem;
    text-align: left;
    z-index: 1;
}
.card-text{
    color: var(--white-color);
}
.main-wrapper .red-card.right{
    right: -400px;
    left: unset;
}


/*work*/
.work-wrapper{
    background-color: var(--tertiary-color);
}


/*testimonial*/
.testimonial-wrapper h1{
    color: var(--primary-color);
}
.testimonial-wrapper .card{
    border: none;
    background-color: var(--tertiary-color);
    box-shadow: var(--box-shadow);
    border-radius: 2.5rem;
    margin: 2rem;
    padding: 4rem 2rem;
}
.testimonial-wrapper .card i{
    color: var(--white-color);
    font-size: 1.4rem;
}
.testimonial-wrapper .card p{
    color: var(--white-color);
}
.testimonial-wrapper .card h5{
    color: var(--white-color);
    font-weight: 700;
}
.testimonial-wrapper .carousel-indicators{
    margin-bottom: -3rem;
}
.testimonial-wrapper .carousel-indicators button{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--tertiary-color);
}


/*footer*/
.footer-wrapper{
    background-color: var(--secondary-color);
}
.footer-wrapper .footer-logo img{
    width: 25rem;
    height: auto;
    object-fit: cover;
}
.footer-wrapper h5{
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 2rem;
}
.footer-wrapper a{
    color: var(--primary-color);
}
.footer-wrapper ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.footer-wrapper ul li img{
    margin-right: 1.5rem;
    width: 5rem;
    height: auto;
}
.footer-wrapper .copyright{
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    color: var(--white-color);
    font-size: 1.5rem;
}
.footer-wrapper iframe{
    width: 100%;
}


/*number*/
.number-wrapper{
    padding: 100px;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--tertiary-color);
    width: 100%;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.number-container{
    width: 30vmin;
    height: 30vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 2.5em;
    background-color: var(--secondary-color);
    border-bottom: 10px solid var(--primary-color);
}
.number-wrapper i{
    color: var(--primary-color);
    font-size: 6rem;
    text-align: center;
}
span.num{
    color: var(--white-color);
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}
span.text{
    color: var(--white-color);
    font-size: 2rem;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 500;
    line-height: 0;
}


/*about us*/

/*parallax*/
.parallax.imgabout1{
    background-image: url('../images/banner/aboutbanner.png');
    height: 100%;
}
.parallax.imgabout2{
    background-image: url('../images/aboutus/about1.png');
    height: 608px;
}

/*expertises*/
.about .expertises-wrapper ul{
    list-style: none;
    padding: 0;
}
.about .expertises-wrapper h1{
    color: var(--primary-color);
}
.about .expertises-wrapper ul li p{
    color: var(--primary-color);
}
.about .expertises-wrapper h3{
    font-weight: 700;
}

/*team*/
.team-wrapper .team{
    padding: 1rem 15rem;
}
.about .team-wrapper .card .team-img{
    margin: 10 auto;
    padding: 1rem;
}
.about .team-wrapper .card .team-detail h5{
    font-weight: 800;
    color: var(--black-color);
    margin-bottom: 0;
}
.about .team-wrapper .card .team-detail p{
    color: var(--primary-color);
    margin: 0;
    text-align: center;
}
.about .team-wrapper h1{
    color: var(--primary-color);
    text-align: center;
}


/*web*/

/*parallax*/
.parallax.imgweb1{
    background-image: url('../images/banner/webbanner.png');
    height: 100%;
}
.parallax.imgweb2{
    background-image: url('../images/homepage/web.png');
    height: 608px;
}


/*contact*/

/*parallax*/
.parallax.imgcontact1{
    background-image: url('../images/banner/contactbanner.png');
    height: 100%;
}
.text-red{
    color: var(--primary-color);
}


/*contact us*/
.contact .get-in-touch .card{
    background-color: var(--tertiary-color);
    min-height: 20rem;
    padding: 5rem;
    border-radius: 2.5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
}
.contact .card i{
    font-size: 8rem;
    margin-bottom: 3rem;
    color: var(--white-color);
}
.contact .card h4{
    color: var(--white-color);
    font-weight: 800;
}
.contact .card p{
    color: var(--white-color);
}
.form-section{
    padding: 10rem;
    background-color: var(--tertiary-color);
    box-shadow: var(--box-shadow);
    border-radius: 2.5rem;
}
.form-section .form-control:focus{
    box-shadow: none;
    border-color: var(--light-color);
}
.form-section .form-control{
    height: 4.5rem;
    border: 0.1rem solid var(--light-color);
    font-size: 2rem;
}
.form-section textarea{
    border: 0.1rem solid var(--light-color);
    font-size: 2rem;
    min-height: 20rem;
}

/*uiux*/
.parallax.imguiux1{
    background-image: url('../images/banner/uiuxbanner.png');
    height: 100%;
}
.parallax.imguiux2{
    background-image: url('../images/homepage/uiux.png');
    height: 608px;
}


/*branding*/
.parallax.imgbranding1{
    background-image: url('../images/banner/brandingbanner.png');
    height: 100%;
}
.parallax.imgbranding2{
    background-image: url('../images/homepage/branding.png');
    height: 608px;
}

/*logo*/
.parallax.imglogo1{
    background-image: url('../images/banner/logobanner.png');
    height: 100%;
}
.parallax.imglogo2{
    background-image: url('../images/homepage/logo.png');
    height: 608px;
}



.navbar ul li a:active{
    color: var(--white-color);
}
